#outer {
  width: 1000px;
  margin: 0px;
  margin-left: 90px;
}
#head_er {
  display: block;
  width: 1000px;
  height: 75px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #b2e7ff;
  border-bottom: 2px solid #0ab1ff;
}
#head_er-head{
  font-family: tahoma;
  font-size: 24px;
  color: black;
  text-align: center;         
  position: relative;
}
#foot_er {
  display: block;
  background-color: #3cff78;
  font-size: 24px;         
  border-bottom: 2px solid #0ab1ff;
  padding-top: 20px;
  padding-bottom: 10px;          
  width: 1000px;
  height: 75px;
  float: left;
  clear: both;
  }
  #foot_er-foot {
    font-family: tahoma;
  color: black;
  text-align: center;
  position: relative;
  }
#main-section {
  width: 100%;
  height:auto;
  overflow: hidden;
}
#main-section-right {
  position: relative;
  background-color: #ededed;
  padding-top: 25px;
  height: auto;
  width: 710px;
  display: block;
  margin-left: 250px;
   padding-left: 20px;
    padding-right: 20px;
    height: 100%
}
#main-section-left {
  display: block;
  background-color: #0ab1ff;
  padding-top: 25px;
  /*padding-bottom: 25px;*/
  padding-left: 5px;
  padding-right: 2px;
  float: left;
  position: relative;
  width: 243px;
  height: auto;  
  }
li {          
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  /*padding: 5px;*/
  }
  ul,a {
  text-decoration: none;
  font-family: tahoma;
  font-size: 14px;
  color: white; 
  }
#main-section-left-heading {
  font-family: tahoma;
  font-size: 18px;
  color: black;
  }  
#main-section-left-content {
    font-family: tahoma;
    font-size: 12px;
    color: black;    
  }
#main-section-right-head {    
  font-size: 24px;
  color: black;
    
  }
#main-section-right-content {
  font-family: tahoma;
  font-size: 14px;
  color: #802525;        
}
#main-section-back {
  background-color: #ededed;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#main-in-section-back {
  background-color: #0ab1ff;
  width: 100%;
  position: relative;
  float: left;
}