      a:link, a:visited {
        text-decoration: none;
      }
      ul,li {
        padding: 0px;
        margin: 0px;
      }
      li.main-menu {
        display: inline-block;
        position: relative;
        width: auto;
        background-color: #CFCFCF;
        padding-top: 7px;        
        margin-left: 2px;
        height: 37px;
        text-align: center;
      }
      li.main-menu:first-child {
        margin-left: 0px;
      }
      li.main-menu a {
        padding-left: 20px;
        padding-right: 20px;
      }
      ul {
        
        display: inline-block;
        border-bottom: 1px solid black;
        width: auto;
        
      }      
       ul li ul {
        display: none;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        width: auto;
        padding-top: 1px;
        padding-left: 20px;
        padding-right: 20px;
      }
      li a {
        text-decoration: none;
        font-size: 18px;
        font-style: italic;
        font-family: georgia;
        color: black;
      }
      ul li ul li {
        display: inline-block;
        width: 200px;
        border-color: #6d6d6d;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        overflow: hidden;
       }
      ul li:hover ul,
      ul li ul:hover {
        position: absolute;
        display: block;       
        background-color: white;
        width: auto;
        margin-left: -1px;
        margin-top: 16px;
      }
      ul li.main-menu:hover {
        
        background-color: white;
        border-right: 1px solid black;
        border-left: 1px solid black;
        border-top:1px solid black;
        border-bottom: 1px solid white;
        padding-top: 6px;
        margin-bottom: -1px;
        
      }
      ul li.main-menu:hover a
      {
        color: #8c8c8c;
        padding-left: 19px;
        padding-right: 19px;
      }
      ul li:hover ul li a {
        background-color: white;
        font-size: 15px;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      li.nested-list {
          border-bottom:1px solid #cfcfcf;
      }     
      ul li:hover ul li:first-child a{
        color: #bd0707;
      }
      